<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/styles.css"/>
    <title>MercadoLiebre</title>
</head>
<body>
    <header class='header-home'>
        <img src="./images/logo-mercado-liebre.svg" alt="Logo logo-mercado-liebre">
        <form>
            <input type="text" placeholder="Buscar productos , marcas">
            <div class="logo-busqueda"><i class="fa-solid fa-magnifying-glass"></i></div>
        </form>

        <h4><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav>
            <ul>
                <li><a href="../views/ofertas.html">Ofertas</a></li>
                <li><a href="../views/TiendasOficiales.html">Tiendas Oficiales</a></li>
                <li><a href="../views/Vender.html">Vender</a></li>
                <li><a href="../views/Ayuda.html">Ayuda</a></li>
                </ul>
                <ul>
                <li> <a href="">Creá tu cuenta<i class="fa-regular fa-address-card"></i></a></li>
                <li> <a href="">ingresá<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li> <a href="">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main class="body">
        <img src="/images/img-home-banner.jpg" alt="Imagen del banner de home" width="100%">
        <section>
            <h2>Basado en tu última visita</h2>
    
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="300" height="300">
                <h4 class="precios">$6.770</h4>
                <h4 class="ofertas-descuentos">40% OFF</h4>
                <h4 class="ofertas-descuentos">Cafetera Moulinex</h4>
            </article>
    
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook" width="300" height="300">
                <h4 class="precios">$230.000</h4>
                <h4 class="ofertas-descuentos">20% OFF</h4>
                <h4 class="ofertas-descuentos">MacBook Pro 2019</h4>
            </article>
    
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy" width="300" height="300">
                <h4 class="precios">$70.500</h4>
                <h4 class="ofertas-descuentos">10% OFF</h4>
                <h4 class="ofertas-descuentos">Samsung Galaxy S10</h4>
            </article>
    
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv" width="300" height="300">
                <h4 class="precios">$23.200</h4>
                <h4 class="ofertas-descuentos">5% OFF</h4>
                <h4 class="ofertas-descuentos">SmartTv Samsung 43"</h4>
            </article>
    
            <h2>Ofertas</h2>
    
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" width="300" height="300">
                <h4 class="precios">$6.770</h4>
                <h4 class="ofertas-descuentos">40% OFF</h4>
                <h4 class="ofertas-descuentos">Cafetera Moulinex</h4>
            </article>
    
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook" width="300" height="300">
                <h4 class="precios">$230.000</h4>
                <h4 class="ofertas-descuentos">20% OFF</h4>
                <h4 class="ofertas-descuentos">MacBook Pro 2019</h4>
            </article>
    
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy" width="300" height="300">
                <h4 class="precios">$70.500</h4>
                <h4 class="ofertas-descuentos">10% OFF</h4>
                <h4 class="ofertas-descuentos">Samsung Galaxy S10</h4>
            </article>
    
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv" width="300" height="300">
                <h4 class="precios">$23.200</h4>
                <h4 class="ofertas-descuentos">5% OFF</h4>
                <h4 class="ofertas-descuentos">SmartTv Samsung 43"</h4>
            </article>
        </section>
    </main>
    
    

    <footer class="footer">
        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4><b> Pagá con tarjeta o efectivo </b></h4>
            <article>
                <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!</h5>
            </article>

            <i class="fa-solid fa-gift"></i>
            <h4><b> Envío gratis desde los $2.500</b></h4>
            <article>
                <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                    beneficio de Mercado Puntos</h5>
            </article>

            <i class="fa-solid fa-user-shield"></i>
            <h4><b>Seguridad de principio a fin</b></h4>
            <article>
                <h5>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</h5>
            </article>

            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
        </section>
    </footer>
</body>

</html>
